dlib==19.21.1
face-recognition==1.3.0
mysql-connector-python==8.0.23
opencv-python-headless==4.2.0.32
Pyrebase==3.0.27
pipreqs==0.4.10
prometheus-client==0.9.0
python-dateutil==2.8.1



cmake==3.18.4.post1
face-recognition-models==0.3.0
MarkupSafe==1.1.1
opencv-python==4.5.1.48
Pillow==8.1.0
streamlit==0.79.0
streamlit-webcam-example==0.1.0

